body {
    font-family: Verdana;
    background-color: #ffffff;
    margin: 0px;
    background-color: lightgrey;
  }
  
  header {
    display: flex;
    justify-content: right;
    background-color: black;
    color: #ffffff;
    padding: 40px;
  }
  
  time {
    min-width: 85px;
    align-items: right;
    justify-content: right;
    border: #ffffff;
    border-style: solid;
    border-radius: 9px;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    display: block;
    color: #ffffff;
    background-color: black;
    padding: 2vh;
    border-radius: 8px;
    border: none;
  }
  
  .card {
    max-width: 80%;
    margin-top: 100px;
    border: solid;
    border-width: 5px;
    padding: 15px;
    border-radius: 30px;
    border-color: grey;
    box-shadow: 10px 5px 5px grey;
  }
  
  #start-screen {
    display: inline;
    text-align: center;
  }
  
  .option-button {
    width: 100%;
    text-align: left;
    margin: 5px;
  }
  
  #result-div {
    display: none;
  }
  
  .inline-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  #initials {
    width: 25%;
    margin: 8px;
    padding: 5px;
  }
  
  .highscore-list {
    padding-inline-start: 20px;
  }